{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% for contact in contacts %}
                    <div class="media">
                        <div class="media-left">
                            <a href="#{{ contact.id }}">
                                <img class="media-object" src="{{ contact.image }}" alt="{{ contact.name }}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ contact.name }}</h4>
                            {% if contact.phoneNumber is defined %}
                                {{ contact.phoneNumber }}
                            {% endif %}
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}